-r ../requirements.txt
numpydoc
pydata_sphinx_theme
recommonmark
sphinx
sphinx-rtd-theme
sphinx_autodoc_typehints
git+https://${GITHUB_USER}:${GITHUB_ACCESS_TOKEN}@github.com/Epistemix-com/doc-shared.git@main